body {
  background-color: #e6ccb3;
}

h1 {
  color: black;
  font-family: segoe print;
  font-size: 65px;
  margin: 0;
}

h2 {
  color: black;
  font-family: segoe print;
}

h3 {
  color: black;
  font-family: gabriola;
  font-size: 24px;
  margin: 0;
}

p {
  color: black;
  font-family: gabriola;
  font-size: 20px;
}

.top {
  display: flex;
  align-items: right;
  flex-direction: column;
}

.startbild {
  width: 1000px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.omresultat {
    display: flex;
}

.om {
  width: 200px;
  border: 2px solid #d9b18c;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 80px;
}

.resultat {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 100px;
}

.resultatbilder {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resultatbilder img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.boka {
  width: 140px;
  background-color: #d9b18c;
  margin: 2px;
  border-radius: 20px;
  text-align: center;
  font-size: 22px;
  font-family: gabriola;
}

.sidfot {
  display: flex;
}

.länkarna {
  display: flex;
  flex-direction: column;
}

.länk {
  display: flex;
  flex-direction: column;
}

.aknappar {
  display: flex;
  flex-direction: row;
}

.tknappar {
  display: flex;
  flex-direction: row;
}

.fknapp img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.iknapp img {
  height: 40px;
  width: 40px;
  border-radius: 15px;
}

.kontakter {
  width: 400px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 0;
}

.kartan {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.karta {
  width: 450px;
  border-radius: 20px;
}
